@model AddOrEditOperationViewModel
@{
    Layout = "_Layout";
}



@{
    ViewData["Title"] = "Edit operation";
}


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit operation</h1>
</div>

<form method="post" asp-action="EditOperation" enctype="multipart/form-data">
    <partial name="_AddOrEditOperationPartial" model="@Model" />

</form>

