
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Change Password";
}


@model ChangePasswordViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change password  </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--===============================================================================================-->
    <link href="~/lib/fontawesome v6 pro/assets/css/all.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/login/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/login/css/main.css" rel="stylesheet" />
    <link href="~/login/css/util.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form method="post" asp-action="ChangePassword" class="login100-form validate-form">
                    <span class="login100-form-title p-b-26">
                        Change password
                    </span>

                    <div class="wrap-input100 validate-input">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="password" asp-for="OneTimePassword">
                        <span class="focus-input100" data-placeholder="One-time password"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="password" asp-for="NewPassword">
                        <span class="focus-input100" data-placeholder="New password"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="password" asp-for="ConfirmPassword">
                        <span class="focus-input100" data-placeholder="Confirm password"></span>
                    </div>

                    <div class="fs-14 text-danger row" asp-validation-summary="All"></div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="submit" class="login100-form-btn">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/login/js/main.js"></script>
</body>
</html>


