@model AddOrEditCategoryViewModel



@{
    ViewData["Title"] = "Add category";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add category</h1>
</div>


<form method="post" asp-action="AddCategory" , asp-controller="Category" enctype="multipart/form-data">

    <partial name="_AddorEditCategoryPartial" model="@Model" />

</form>

