@model AddOrEditRoleViewModel

@{
    ViewData["Title"] = "Create role";
}
@{
    Layout = "_Layout";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Create role</h1>
</div>

<form method="post" asp-action="CreateRole">

    <partial name="_AddOrEditRolePartial" model="@Model" />

</form>