@model AddOrEditUserViewModel

@{
    ViewData["Title"] = "Create user";
}
@{
    Layout = "_Layout";
}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between">
    <h1 class="h3 mb-0 text-gray-800">Create user</h1>
</div>

<form method="post" asp-action="CreateUser" enctype="multipart/form-data">

    <partial name="_AddOrEditUserPartial" model="@Model" />

</form>