@model AddOrEditBookViewModel



@{
    ViewData["Title"] = "Add book";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add book</h1>
</div>

<form method="post" asp-action="AddBook" enctype="multipart/form-data">

    <partial name="_AddOrEditBookPartial" model="@Model" />

</form>


