@model AddOrEditBookViewModel

@{
    ViewData["Title"] = "Edit book";
}
@{
    Layout = "_Layout";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit book</h1>
</div>

<form method="post" asp-action="EditBook" enctype="multipart/form-data">
    <partial name="_AddOrEditBookPartial" model="@Model" />

</form>

