@{
    ViewData["Title"] = "Dashboard";
}
@{
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> _userManager

@{
    var user = await _userManager.GetUserAsync(this.User);
}


@if ((await _userManager.IsInRoleAsync(user, "Admin")) || (await _userManager.IsInRoleAsync(user, "Operator")))
{

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 row">
        <div class="col-sm-7">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>
        <div class="col-sm-5 d-flex justify-content-end">
            <input type="date" id="beginDate" onchange="GetChartData()" class="d-sm-inline-block form-control form-control-sm col-sm-3 mr-1" /> -
            <input type="date" id="endDate" onchange="GetChartData()" class="d-sm-inline-block form-control form-control-sm col-sm-3 ml-1" />
        </div>
    </div>


    <!-- Content Row -->
    <div class="row">



        <!-- Oredered Books -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Ordered Books
                            </div>
                            <div id="OrederedBooks" class="h5 mb-0 font-weight-bold text-gray-800">9</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-book-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Readers -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                Readers
                            </div>
                            <div id="AllReaders" class="h5 mb-0 font-weight-bold text-gray-800">14</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-book-open-reader fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- All Books -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                All Books
                            </div>
                            <div id="AllBooks" class="h5 mb-0 font-weight-bold text-gray-800">8</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-shelves fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Authors -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Authors
                            </div>
                            <div id="AllAuthors" class="h5 mb-0 font-weight-bold text-gray-800">9</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-duotone fa-feather fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        @*        <!-- Donut Chart -->
    <div class="col-xl-4 col-lg-5">

    <div class="card shadow">
    <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">The most read books</h6>
    </div>
    <div class="card-body">
    <div class="chart-pie2">
    <canvas id="myPieChart"></canvas>
    </div>
    </div>
    </div>

    </div>*@



    </div>


    @section Scripts{
    <script src="~/vendor/chartjs/chartjs.min.js"></script>


    <script asp-append-version="true">

        let currentDate = new Date();

        document.getElementById('endDate').valueAsDate = currentDate;

        currentDate.setFullYear(currentDate.getFullYear() - 1);
        document.getElementById('beginDate').valueAsDate = currentDate;

        GetChartData();

        let areaLabels = [];
        let areaDataSet = [];

        let pieDataLabels = [];
        let pieDataSet = [];


        let myPieChart = null;
        let myLineChart = null;

        function GetChartData() {
            let beginDate = document.getElementById('beginDate').value;
            let endDate = document.getElementById('endDate').value;

            $.ajax({
                url: "/Home/GetChartData?beginDate=" + beginDate + '&&endDate=' + endDate,
                method: "Get"
            }).done(function (res) {
                console.log(res)

                //cards
                if (res.dashboardCounts != null) {
                    document.getElementById('AllBooks').innerHTML = res.dashboardCounts.AllBooks;
                    document.getElementById('AllReaders').innerHTML = res.dashboardCounts.AllReaders;
                    document.getElementById('AllAuthors').innerHTML = res.dashboardCounts.AllAuthors;
                    document.getElementById('OrederedBooks').innerHTML = res.dashboardCounts.OrederedBooks;
                }


                //doughut chart
                if (res.bestSellingProduct != null) {
                    pieDataLabels = res.bestSellingProduct.productNames;
                    pieDataSet = res.bestSellingProduct.productCounts

                    if (myPieChart != null) {
                        myPieChart.destroy();
                    }

                    makeDoughnutChart();
                }


            });
        }



    </script>

    <script src="~/vendor/chartjs/line-chart.js" asp-append-version="true"></script>
    <script src="~/vendor/chartjs/doughnut-chart.js" asp-append-version="true"></script>
}
}